################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/HanaDataAccess/v16
/HanaDataAccess/obj/Debug
/HanaDataAccess/bin/Debug
